/*
    author      Este Tigele
    last edited
*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
	width: 100%;
	height: 100%;
}

.container, .row, .col-sm-6 {
	height: 100%;
}

.message-title {
	/*margin: 0 auto;*/
	text-align: center;
	color: white;
	font-size: 2em;
	/*padding-top: 40%;*/
	position: relative;
	left: 50%;
	top: 50%;
	margin:-100px 0 0 -150px;
	height: 200px;
	width: 300px;
}

.signup {
	font-size: 14px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: none;
    background-color: #fff;
}

.input-search {
    width: 68%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 0.8em;
    border-style: none;
    background-color: #fff; 
    overflow: hidden;   
}

.action-refresh {
    height: 100%;
    width: 20%;
    margin: 0px; 
    padding: 0px;
}
 
.droptext {
    resize: none;
    border-right-color: #ccc;
}

.content-sub {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}

.comments {
    height: 84%;
}

.treasure-title {
    height: 16%;   
    border-top-color: #ccc;
}
.treasure-text {
    height: 68%; 
}

.treasure-image {
	height: 14%;
}

.treasure-image input[type="file"] {
	float: left;
	height: 100%;
	
}
/* Drop treasure page - drag n drop */
.drop-box {
	/*float: center;*/
	background: transparent;
	border: 3px dashed #DDD;
	width: 300px;
	height: 30%; 
	left: 50%;
	position: relative;
	margin-left: -150px;
	text-align: center;
	padding: 5px; 
	font-size: 11px;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.treasures {
    height: 84%;
}

/* Comments */
.comments {
	overflow: auto;
    height: 84%;
}

.comments h2 {
	margin-left: 10px;
	font-size: 18px;

	font-style: oblique;
	color: #006699;
}

.comment-items {
  	list-style: none;
  	padding: 6px;
}

.comment-items li {
  	clear: both;
  	min-height: 10%;
  	height: auto;
  	padding-top: 15px;
  	cursor: pointer;
  	background: #FFF;
  	font-size: 13px;
  	word-wrap: break-word;
}

.comment-items li h1 {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: Verdana;
	font-weight: bold;
	color: #006699;
}

.comment-items li:nth-child(odd) 
{ 
	background: #FFF; 
}

/* Treasure items */
.treasure-items {
  	list-style: none;
  	padding: 6px;
}

.treasure-items li {
  	clear: both;
  	height: 100px;
  	padding-top: 15px;
  	cursor: pointer;
  	background: #F5F5F5;

  	font-size: 13px;
}

.treasure-items-selected {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 2px solid #C8C8C8;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.treasure-items li h1 {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: Verdana;
	font-weight: bold;
	color: #006699;
}

.treasure-items li:nth-child(odd) 
{ 
	background: #E8E8E8; 
}

.treasure-items li button {
  	margin-top: 3px;
}

.mytreasures {
	overflow: auto;
    height: 84%;
}

.action-bar-login {
    background-color: #fff;
    height: 16%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;
}

.action-bar-login button {
	width: 100%;
	height: 100%;
}

.action-bar-drop {
    background-color: #fff;
    height: 16%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;
}

.action-bar-drop button {
	width: 100%;
}

.action-bar {
    background-color: #fff;
    height: 16%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;
}

.action-bar button {
	float: right;
	height: 100%;
}

.action-btn {
    height: 100%;
}
.action-bar input {
	float: left;
	height: 100%;
}

@media screen and (min-width: 770px) {
	.content-main {
		margin: 80px 0px 0px 0px;
		background-color: purple;
		height: 80%;

		border-radius: 15px;
	}

	.content-sub {
		margin: 80px 0px 0px 0px;
		height: 80%;
		font-size: 1.5em;

		border-radius: 15px;
	}

	span.hidable {
		display: inline;
	}
}

@media screen and (max-width: 769px){
	.content-main {
		background-color: purple;
		height: 100%;
	}

	.content-sub {
		height: 100%;
		font-size: 1.5em;
	}	
	.col-sm-6 {
		height: 56.8%;
	}
	.navbar-inner{
	    background:transparent !important;
	    }
	.navbar-inner container{
	    background:transparent !important;
	    }
	.navbar{
		border: none;
	    background:transparent !important;
    }
    a.navbar-brand:visited {
		color: white;
	}
	.navbar-inverted .navbar-toggle .icon-bar {
	    background-color: white;
	}
	.navbar-inverted .navbar-toggle:hover .icon-bar {
	    background-color: purple;
	}
	button.navbar-toggle {
		border: none;
	}
	button.navbar-toggle:hover {
		background-color: white;
	}
	span.hidable {
		display: none;
	}
	button.log {
		margin-left: 1em;
	}
}
