
    <div class="row">
        <div class="col-sm-6 content-main">
            <!-- <div class="content-main"> -->
            <div class="message-title">            

            </div>
            <!-- </div> -->

        </div>
            <div class="col-sm-6 content-sub">
                <form novalidate class="simple-form">
                    <input type="text" ng-model="treasure.title" placeholder="Title" /><br />
                    <input type="area" ng-model="treasure.text" placeholder="Message" /><br />

                    <button ng-click="drop(treasure)">Drop</button>
                </form>
            <div class="action-bar"></div>
        </div>
    </div>


