
	<div class="col-sm-6 col-sm-offset-3">

	  	<div style="height: 305px">
	    	<carousel interval="myInterval">
      			<slide ng-repeat="slide in slides" active="slide.active">
		        	<img ng-src="{{slide.image}}" style="margin:auto;">
		        	<div class="carousel-caption">
		          		<h4>Slide {{$index}}</h4>
		          		<p>{{slide.text}}</p>
		        	</div>
	      		</slide>
	    	</carousel>
	  	</div>

		<h1><span class="fa fa-sign-in"></span>Signup</h1>

		<div ng-if="response.message.length > 0">
    		<div class="alert alert-danger">{{ response.message }}</div>
		</div>

		<form novalidate class="simple-form">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newUser.email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" ng-model="newUser.password" placeholder="Password">
			</div>

			<button class="btn btn-warning btn-lg" ng-click="join(newUser)">Join</button>
		</form>

		<hr>

		<p>Already have an account? <a href="#/login">Login</a></p>

</div>