    <div class="row">
        <div class="col-sm-6 content-main" ng-click="getTreasure(treasures[getSelected()]._id)">
            <div class="message-title">
                <a>{{ treasures[getSelected()].text }}</a>
            </div>
        </div>
        <div class="col-sm-6 content-sub">
            <div class="mytreasures">
                <ul class="treasure-items">
                    <li ng-click="setSelected($index)" ng-repeat="treasure in treasures | filter:q" class="thumbnail">
                        <h1>{{ treasure.title }}</h1>
                        <p>{{ treasure.text }}</p>
                        <!--<a>{{ treasure.title }}</a><br />-->
                        <button class="btn btn-sm btn-primary" type='button' ng-click="open(treasure)">Show details</button>
                        <button class="btn btn-sm btn-danger" type='button' ng-click="delete(treasure)">Delete</button>
                    </li>
                </ul>
            </div>
            <div class="action-bar">
                <input class="input-search" type="search" ng-model="q" placeholder="Filter Treasures..." />
                <button type='button' class="btn btn-primary action-refresh" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
    </div>