    <div class="row">
        <div class="col-sm-6 content-main" style="background: url({{treasures[selected].media}}) no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <!-- style="background-image: url(../images/test-background.gif);" -->
            <div class="message-title">
                <a ng-click="getTreasure(treasures[selected]._id)">{{ treasures[selected].text }}</a>
            </div>
        </div>
        <div class="col-sm-6 content-sub">
            <div class="mytreasures">
                <ul class="treasure-items">
                    <li ng-repeat="treasure in treasures | filter:q" ng-click="setSelected($index)" class="thumbnail" ng-class="{'treasure-items-selected': $index==selected}">
                        <h1>{{ treasure.title }}</h1>
                        <p>{{ treasure.text }}</p>
                        <button class="btn btn-sm btn-primary" type='button' ng-click="open(treasure)">Show details</button>
                    </li>
                </ul>
            </div>
            <div class="action-bar">
                <input class="input-search" type="search" ng-model="q" placeholder="Filter Treasures..." />
                <button type='button' class="btn btn-primary action-refresh" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
    </div>