
    <div class="row">
        <div class="col-sm-6 content-main">
            <!-- <div class="content-main"> -->
            <div class="message-title">            
                <ul>
                    <li ng-repeat="treasure in treasures">
                        {{ treasure.title }} - {{ treasure.text }}
                    </li>
                </ul>
            </div>
            <!-- </div> -->

        </div>
        <div class="col-sm-6 content-sub">
            <!-- <div class="content-sub"> -->
                <p>A Treasure</p>
                <p>A Secret</p>
                <p>A Picture</p>
            <!-- </div> -->
            <div class="action-bar"></div>
        </div>
    </div>


