    <div class="row">
        <div class="col-sm-6 content-main" style="background: url({{treasure.media}}) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
            <div class="message-title"> {{ treasure.title }}</div>
        </div>
        <div class="col-sm-6 content-sub">
            <div class="comments">
                <h2>Comments</h2>
                <ul class="comment-items">
                    <li ng-repeat="comment in comments" class="thumbnail">
                        <h1>{{ comment.text }}</h1>
                        <p>{{ comment.date }}</p>
                    </li>
                </ul>
            </div>
            <div class="action-bar">
                <input class="input-search" type="search" ng-model="newComment.text" placeholder="Comment"></input>
                <button type='button' class="btn btn-primary" ng-click="getComments()"><i class="fa fa-refresh"></i></button>
                <button type='button' class="btn btn-primary" ng-click="send(newComment)">Send</button>
            </div>
        </div>
    </div>